In [1]:
!gdown 1ZdhRqYv-JizWV6DxO6C4R_k1kxPhmlF2

Downloading...
From: https://drive.google.com/uc?id=1ZdhRqYv-JizWV6DxO6C4R_k1kxPhmlF2
To: S:\Machine Learning Scaler\9  K-Nearest Neighbors (KNN)\multiclass.csv

  0%|          | 0.00/14.6k [00:00<?, ?B/s]
100%|##########| 14.6k/14.6k [00:00<00:00, 16.9MB/s]

In [2]:
import pandas as pd

In [4]:
df =pd.read_csv('multiclass.csv')
df.head()

   Region  Fresh  Milk  Grocery  Frozen  Detergents_Paper  Delicassen  class
0       3  12669  9656     7561     214              2674        1338      2
1       3   7057  9810     9568    1762              3293        1776      2
2       3   6353  8808     7684    2405              3516        7844      2
3       3  13265  1196     4221    6404               507        1788      1
4       3  22615  5410     7198    3915              1777        5185      1